/* TEXTFIELD CONTAINER */
.form__textarea {
  @extend .form__data;
  margin: 15px 0 0;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 7px;
}
.textarea__label {
  grid-row: 1;
}
.textarea__textarea-field {
  font-family: 'Roboto', sans-serif;
  grid-row: 2/6;
  padding: 6px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 0px;
  resize: none;
}